body{
    background-color: #E4F1FF;
}
h1{
    font-size: 80px;
    font-family: 'Croissant One', cursive;
}
label{
    font-size: 25px;
    font-family: 'Croissant One', cursive;
}
input[type="text"]{
    font-size: 20px;
    border-radius: 5px;

}
button{
    height: fit-content;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 20px;
    font-weight: 500;
    background-color: #40F8FF;
    font-family: 'Croissant One', cursive;
}
button:hover{
    scale: 1.1;
    background-color: #279EFF;
}
pre{
    font-size: 20px;
    font-family: 'Croissant One', cursive;
    border-radius: 10px;
}